*{
    margin: 0;
    padding-left: 15px;
    padding-right: 15px
}
header{
    height: 87px;
    background-color: beige;
}
.cont{
  display: flex;
  
  background-color: blue;
  height: 240px;
  width: 250px;
}
section{
  background-color: purple;
}
aside{
  background-color: red;
  align-self: right;
  width: 240px;
  height: 240px;
}